{% load staticfiles %}
<html>
    <head>
        <title>Gifthunter</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <link rel=stylesheet type=text/css href="{% static 'css/picnic.min.css' %}">
        <style>
            body {
                max-width: 960px;
                padding: 10px;
                max-width: 960px;
                width: 100%;
                margin: 10px auto 10px;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/" class="brand">
                <span>Gifthunter</span>
            </a>
            {% if user.is_authenticated %}

            <input id="bmenu" class="show" type="checkbox">
            <label for="bmenu" class="burger toggle pseudo button">Menu</label>
            <div class="menu">
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="pseudo button">Administration</a>
                {% endif %}
                <label href="#" class="pseudo button" for="modal_help">Help</label>
                <a href="{% url 'main:view_user' %}" class="pseudo button">Account</a>
                <a href="{% url 'main:logout' %}" class="pseudo button">Logout</a>
            </div>
            {% endif %}
        </nav>

        <div class="modal">
          <input id="modal_help" type="checkbox">
          <label for="modal_help" class="overlay"></label>
          <article>
            <header>
              <h3>Gifthunter Help</h3>
              <label for="modal_help" class="close">×</label>
            </header>
            <section class="content">
              <p>Gifthunter is an application to track and coordinate gifts among groups of people for holidays and birthdays. Use it help people get what they want, without the need to track everything manually.</p>
              <hr />
              <p>Start by finding others in the "Other People" page. Search for people you know so they can see your lists (and vice versa).</p>
              <hr />
              <p>You can track items you'd like to receive on the "My List" page. These can be added at any time, not just around holidays. Items can include a name, a link, a priority, and a description to help others.</p>
              <hr />
              <p>To get a gift for one of your connections, simply visit the list of any of your connections, and "Claim" the gift they'll be recieving from you. After you've gifted it, simply use the "My Claims" page to mark the gift for removal so they don't get it a second time.</p>
            </section>
            <footer>
              <label for="modal_help" class="button">
                Done
              </label>
            </footer>
          </article>
        </div>

        <main style="margin-top: 50px;">
            {% if msg and msg_type%}
            <div>
                <input id="cardtoggle" type="checkbox">
                <div class="button {{ msg_type }} close" style="width: 100%;">
                    {{ msg }}
                </div>
            </div>
            {% endif %}

           {% block base_content %}{% endblock %}
        </main>
    </body>
</html>