{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        {% if gift.id %}
        <h2>Editing {{ gift.name }}</h2>
        {% else %}
        <h2>New Gift</h2>
        {% endif %}
    </header>
    <section>
        <form method="post" action="">
            {% csrf_token %}

            {{ form.name.label_tag }} {{ form.name }}
            {% if form.name.errors %}
            <ul>
                {% for error in form.name.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr />

            {{ form.priority.label_tag }} {{ form.priority }}
            {% if form.priority.errors %}
            <ul>
                {% for error in form.priority.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr />
            
            {{ form.link.label_tag }} {{ form.link }}
            {% if form.link.errors %}
            <ul>
                {% for error in form.link.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr />

            {{ form.description.label_tag }} {{ form.description }}
            {% if form.description.errors %}
            <ul>
                {% for error in form.description.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr />
            
            <div class="flex one two-600">
                <div>
                    <button class="success" style="width:100%;" type="submit">Update Gift</a>
                </div>
                {% if gift.id %}
                <div>
                    <a href="{% url 'main:view_gift' gift.id %}" class="button error" style="width:100%;">Return</a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'main:index' %}" class="button error" style="width:100%;">Return</a>
                </div>
                {% endif %}
            </div>
        </form>
    </section>
</article>

{% endblock %}