{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>My Claims</h2>
    </header>
    <section>
        <ul>
            {% for claim in claims %}
            <li>
                <a href="{% url 'main:view_claim' claim.id %}">{{ claim.gift.name }} for {% if claim.gift.owner.first_name %}{% if claim.gift.owner.last_name %}{{ claim.gift.owner.first_name }} {{ claim.gift.owner.last_name }}{% else %}{{ claim.gift.owner.first_name }}{% endif %}{% else %}{{ claim.gift.owner }}{% endif %}</a>
            </li>
            {% endfor %}
            {% if not claims %}
            You have no current claims. View the lists of your connections to claim items.
            {% endif %}
        </ul>
    </section>
</article>
{% endblock %}