{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>Login</h2>
    </header>
    <section>
        {% if form.non_field_errors %}
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form role="form" method="post" action="{% url 'main:login' %}">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            <hr />
            {{ form.password.label_tag }} {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}" />
            <hr />
            <button type="submit" style="width:100%">Login</button>
        </form>
    </section>
</article>
{% endblock %}