{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>{% if from_user.first_name %}{% if from_user.last_name %}{{ from_user.first_name }} {{ from_user.last_name }}{% else %}{{ from_user.first_name }}{% endif %}{% else %}{{ from_user }}{% endif %}</h2>
    </header>
    <section>
        <ul>
            {% if from_user.first_name %}
            <li>
                <h3>First Name</h3>
            </li>
            <ul>
                <li>
                    <div>{{ from_user.first_name }}</div>
                </li>
            </ul>
            {% endif %}

            {% if from_user.last_name %}
            <li>
                <h3>Last Name</h3>
            </li>
            <ul>
                <li>
                    <div>{{ from_user.last_name }}</div>
                </li>
            </ul>
            {% endif %}

            {% if from_user.email %}
            <li>
                <h3>Email Address</h3>
            </li>
            <ul>
                <li>
                    <div>{{ from_user.email }}</div>
                </li>
            </ul>
            {% endif %}
        </ul>
            <div class="flex one two-600">
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="accept" />
                    <div>
                        <button class="success" style="width:100%;" type="submit">Accept Connection Request</a>
                    </div>
                </form>
                
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="decline" />
                    <div>
                        <button class="error" style="width:100%;" type="submit">Decline Connection Request</a>
                    </div>
                </form>
            </div>
        </form>
    </section>
</article>

{% endblock %}