{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>User Search</h2>
    </header>
    <section>
        <form method="post" action="">
            {% csrf_token %}

            {{ form.search_param.label_tag }} {{ form.search_param }}
            {% if form.search_param.errors %}
            <ul>
                {% for error in form.search_param.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr />
            
            <div class="flex one two-600">
                <div>
                    <button class="success" style="width:100%;" type="submit">Search Users</a>
                </div>
                <div>
                    <a href="{% url 'main:view_connections' %}" class="button error" style="width:100%;">Return to My Connections</a>
                </div>
            </div>
        </form>
        {% if is_search %}
        <hr />
        <h3>Unconnected Users</h3>
        <ul>
            {% if not user_results %}
                No results.
            {% else %}
                {% for result in user_results %}
                <li>
                    <a href="{% url 'main:connection_request' result.id %}">
                        <label>                   
                            {% if result.first_name %}
                                {% if result.last_name %}
                                    {{ result.first_name }} {{ result.last_name }}
                                {% else %}
                                    {{ result.first_name }}
                                {% endif %}
                            {% else %}
                                {{ result }}
                            {% endif %}
                            
                        </label>
                    </a>
                </li>
                <!--
                <div class="modal">
                    <input id="modal_{{ result }}" type="checkbox" />
                    <label for="modal_{{ result }}" class="overlay"></label>
                    <article>
                        <header>Connect with {% if result.first_name %}{% if result.last_name %}{{ result.first_name }} {{ result.last_name }}{% else %}{{ result.first_name }}{% endif %}{% else %}{{ result }}{% endif %}</h3>
                            <label for="modal_{{ result }}" class="close">&times;</label>
                        </header>
                        <section class="content">
                            Would you like to send a connection request to {% if result.first_name %}{% if result.last_name %}{{ result.first_name }} {{ result.last_name }}{% else %}{{ result.first_name }}{% endif %}{% else %}{{ result }}{% endif %}?
                        </section>
                        <footer>
                            <a class="button" href="#" onclick="connection_request({{ result.id }})">Send Request</a>
                            <label for="modal_{{ result }}" class="button dangerous">
                                Cancel
                            </label>
                        </footer>
                    </article>
                </div>
                -->
                {% endfor %}
            {% endif %}
        </ul>
        {% endif %}

    </section>
</article>

{% endblock %}