{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    </header>
    <section>
        <form method="post" action="">
            {% csrf_token %}

            {{ form.first_name.label_tag }} {{ form.first_name }}
            {% if form.name.errors %}
            <ul>
                {% for error in form.name.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr />

            {{ form.last_name.label_tag }} {{ form.last_name }}
            {% if form.last_name.errors %}
            <ul>
                {% for error in form.last_name.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr />
            
            <div class="flex one two-600">
                <div>
                    <button class="success" style="width:100%;" type="submit">Update Account Info</a>
                </div>
                {% if gift.id %}
                <div>
                    <a href="{% url 'main:view_gift' gift.id %}" class="button error" style="width:100%;">Cancel</a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'main:index' %}" class="button error" style="width:100%;">Return</a>
                </div>
                {% endif %}
            </div>
        </form>
    </section>
</article>

{% endblock %}