{% extends "main/base.html" %} 
{% block base_content %}
<article class="card">
    <header>
        <h2>{{ gift.name }}</h2>
    </header>
    <section>
        <ul>
            {% if gift.priority %}
            <li>
                <h3>Priority</h3>
            </li>
            <ul>
                <li>
                    <div class="priority_{{ gift.priority }}">{{ gift.get_priority_display }}</div>
                </li>
            </ul>
            {% endif %}

            {% if gift.link %}
            <li>
                <h3>Link</h3>
            </li>
            <ul>
                <li>
                    <a href="{{ gift.link }}">{{ gift.link }}</a>
                </li>
            </ul>
            {% endif %}

            {% if gift.description %}
            <li>
                <h3>Description</h3>
            </li>
            <ul>
                <li>
                    {{ gift.description }}
                </li>
            </ul>
            {% endif %}
        </ul>
        
        {% if gift.owner == user %}
        <div class="flex one three-600">
            <div>
                <a href="{% url 'main:edit_gift' gift.id %}" class="button" style="width:100%;">Edit Gift</a>
            </div>
            <div>
                <label href="#" class="button" style="width:100%;" for="modal_1">Delete Gift</label>
            </div>
            <div>
                <a href="{% url 'main:list_gifts' gift.owner.id %}" class="button" style="width:100%;">Return to Wishlist</a>
            </div>
        </div>
        <div class="modal">
          <input id="modal_1" type="checkbox">
          <label for="modal_1" class="overlay"></label>
          <article>
            <header>
              <h3>Confirm Gift Deletion</h3>
              <label for="modal_1" class="close">×</label>
            </header>
            <section class="content">
              Are you sure you want to delete {{ gift }}?
            </section>
            <footer>
              <a href="{% url 'main:remove_gift' gift.id %}" class="button">Confirm</a>
              <label for="modal_1" class="button dangerous">
                Cancel
              </label>
            </footer>
          </article>
        </div>

        {% else %}
        <div class="flex one two-600">
            <form method="POST" action="">
                {% csrf_token %}
                <div>
                    <input class="button" style="width:100%;" type="submit" value="Claim Gift"></input>
                </div> 
            </form>
            <div>
                <a href="{% url 'main:list_gifts' gift.owner.id %}" class="button" style="width:100%;">Return to Wishlist</a>
            </div>
        </div>
        {% endif %}
    </section>
</article>

{% endblock %}